<a href="https://colab.research.google.com/github/mincfranc/Code-Notes/blob/main/10_15_24_HW_Review_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#10/15/24 Code of 10/14/24 Homework review

1.   how many categorical columns: 43 per data dictionary & .describe & .info of raw data set?

2.   for each categorical column, how many subcategories are there?

3.   What is the count of values per each subcategory?

***Substitute the name of your data frame for sale_df.***

For example,
```
sale_df = your_df
```

# Minerva

from 2nd_iteration_10_14_24_Project2.DRAFT.ipynb

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'https://ddc-datascience.s3.amazonaws.com/Projects/Project.2-Housing/Data/Housing.Data.csv'

prices_df= pd.read_csv(url)

In [ ]:
sale_df= prices_df.copy()

In [ ]:
# find categorical columns
categorical_columns= sale_df.select_dtypes(include=['object']).columns


categorical_columns

Index(['MS Zoning', 'Street', 'Alley', 'Lot Shape', 'Land Contour',
       'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 'Misc Feature',
       'Sale Type', 'Sale Condition'],
      dtype='object')

In [ ]:
#Return marginal probability for all categorical variables and the subcategory values
#between and #within

for col in categorical_columns:
  print(sale_df[col].value_counts() /sale_df[col].notna().sum()*100 , '\n')

MS Zoning
RL         77.474403
RM         15.889268
FV          4.664391
C (all)     0.948047
RH          0.872203
I (all)     0.075844
A (agr)     0.075844
Name: count, dtype: float64

Street
Pave    99.544937
Grvl     0.455063
Name: count, dtype: float64

Alley
Grvl    61.666667
Pave    38.333333
Name: count, dtype: float64

Lot Shape
Reg    63.026166
IR1    33.940083
IR2     2.464922
IR3     0.568828
Name: count, dtype: float64

Land Contour
Lvl    89.685248
HLS     4.209329
Bnk     4.019719
Low     2.085703
Name: count, dtype: float64

Utilities
AllPub    99.886234
NoSewr     0.075844
NoSeWa     0.037922
Name: count, dtype: float64

Lot Config
Inside     72.961699
Corner     17.406143
CulDSac     6.067501
FR2         3.071672
FR3         0.492984
Name: count, dtype: float64

Land Slope
Gtl    95.221843
Mod     4.247251
Sev     0.530906
Name: count, dtype: float64

Neighborhood
NAmes      15.054987
CollgCr     9.101251
OldTown     8.266970
Edwards     6.370876
Somerst     6.105423
NridgHt     5.688282
Gilbert     5.650360
Sawyer      5.233220
NWAmes      4.398938
SawyerW     4.171407
Mitchel     3.981797
BrkSide     3.678422
Crawfor     3.602579
IDOTRR      3.185438
NoRidge     2.464922
Timber      2.351157
StoneBr     1.858172
SWISU       1.668563
ClearCr     1.478953
MeadowV     1.289344
BrDale      1.061813
Veenker     0.910125
Blmngtn     0.872203
NPkVill     0.758438
Blueste     0.379219
Greens      0.303375
GrnHill     0.075844
Landmrk     0.037922
Name: count, dtype: float64

Condition 1
Norm      86.196435
Feedr      5.612438
Artery     3.147516
RRAn       1.592719
PosN       1.213500
RRAe       1.023891
PosA       0.720516
RRNn       0.303375
RRNe       0.189609
Name: count, dtype: float64

Condition 2
Norm      98.938187
Feedr      0.417141
Artery     0.189609
PosA       0.151688
PosN       0.151688
RRNn       0.075844
RRAe       0.037922
RRAn       0.037922
Name: count, dtype: float64

Bldg Type
1Fam      82.935154
TwnhsE     7.963595
Duplex     3.602579
Twnhs      3.412969
2fmCon     2.085703
Name: count, dtype: float64

House Style
1Story    50.322336
2Story    30.337505
1.5Fin    10.466439
SLvl       4.285173
SFoyer     2.882063
2.5Unf     0.796359
1.5Unf     0.644672
2.5Fin     0.265453
Name: count, dtype: float64

Roof Style
Gable      79.105044
Hip        18.885097
Gambrel     0.796359
Flat        0.682594
Mansard     0.341297
Shed        0.189609
Name: count, dtype: float64

Roof Matl
CompShg    98.558969
Tar&Grv     0.758438
WdShake     0.303375
WdShngl     0.227531
Roll        0.037922
Membran     0.037922
Metal       0.037922
ClyTile     0.037922
Name: count, dtype: float64

Exterior 1st
VinylSd    34.736443
MetalSd    15.585893
HdBoard    15.282518
Wd Sdng    14.410315
Plywood     7.394767
CemntBd     4.323094
BrkFace     2.919985
WdShing     1.896094
AsbShng     1.668563
Stucco      1.365188
BrkComm     0.113766
CBlock      0.075844
Stone       0.075844
AsphShn     0.075844
PreCast     0.037922
ImStucc     0.037922
Name: count, dtype: float64

Exterior 2nd
VinylSd    34.357224
MetalSd    15.472127
HdBoard    13.955252
Wd Sdng    13.386424
Plywood     9.252939
CmentBd     4.323094
Wd Shng     2.882063
BrkFace     1.592719
Stucco      1.516875
AsbShng     1.441031
Brk Cmn     0.720516
ImStucc     0.568828
Stone       0.227531
AsphShn     0.113766
CBlock      0.113766
PreCast     0.037922
Other       0.037922
Name: count, dtype: float64

Mas Vnr Type
BrkFace    75.922330
Stone      21.747573
BrkCmn      2.233010
CBlock      0.097087
Name: count, dtype: float64

Exter Qual
TA    61.205916
Gd    33.902162
Ex     3.640501
Fa     1.251422
Name: count, dtype: float64

Exter Cond
TA    86.841107
Gd    10.352673
Fa     2.351157
Ex     0.341297
Po     0.113766
Name: count, dtype: float64

Foundation
PConc     44.937429
CBlock    42.320819
BrkTil    10.542283
Slab       1.668563
Stone      0.417141
Wood       0.113766
Name: count, dtype: float64

Bsmt Qual
TA    45.280811
Gd    42.628705
Ex     8.931357
Fa     3.081123
Po     0.078003
Name: count, dtype: float64

Bsmt Cond
TA    91.965679
Gd     4.173167
Fa     3.588144
Po     0.195008
Ex     0.078003
Name: count, dtype: float64

Bsmt Exposure
No    67.239360
Av    14.642718
Gd     9.683717
Mn     8.434205
Name: count, dtype: float64

BsmtFin Type 1
Unf    29.953198
GLQ    29.563183
ALQ    15.483619
Rec    10.218409
BLQ     9.243370
LwQ     5.538222
Name: count, dtype: float64

BsmtFin Type 2
Unf    87.592665
Rec     3.901678
LwQ     2.965275
BLQ     2.341007
ALQ     1.950839
GLQ     1.248537
Name: count, dtype: float64

Heating
GasA     98.483125
GasW      0.872203
Grav      0.341297
Wall      0.189609
OthW      0.075844
Floor     0.037922
Name: count, dtype: float64

Heating QC
Ex    51.384149
TA    29.503223
Gd    15.889268
Fa     3.109594
Po     0.113766
Name: count, dtype: float64

Central Air
Y    93.287827
N     6.712173
Name: count, dtype: float64

Electrical
SBrkr    91.543421
FuseA     6.522564
FuseF     1.592719
FuseP     0.303375
Mix       0.037922
Name: count, dtype: float64

Kitchen Qual
TA    50.891164
Gd    39.893819
Ex     6.977626
Fa     2.237391
Name: count, dtype: float64

Functional
Typ     93.022374
Min2     2.389078
Min1     2.199469
Mod      1.213500
Maj1     0.682594
Maj2     0.341297
Sal      0.075844
Sev      0.075844
Name: count, dtype: float64

Fireplace Qu
Gd    49.889135
TA    39.763489
Fa     4.730229
Po     3.325942
Ex     2.291205
Name: count, dtype: float64

Garage Type
Attchd     62.720706
Detchd     28.170144
BuiltIn     6.621188
Basment     1.123596
2Types      0.802568
CarPort     0.561798
Name: count, dtype: float64

Garage Finish
Unf    44.417671
RFn    29.317269
Fin    26.265060
Name: count, dtype: float64

Garage Qual
TA    94.618474
Fa     4.257028
Gd     0.803213
Po     0.200803
Ex     0.120482
Name: count, dtype: float64

Garage Cond
TA    96.385542
Fa     2.409639
Po     0.562249
Gd     0.562249
Ex     0.080321
Name: count, dtype: float64

Paved Drive
Y    90.822905
N     7.091392
P     2.085703
Name: count, dtype: float64

Pool QC
Gd    36.363636
Ex    27.272727
Fa    18.181818
TA    18.181818
Name: count, dtype: float64

Fence
MnPrv    57.954545
GdPrv    20.454545
GdWo     19.507576
MnWw      2.083333
Name: count, dtype: float64

Misc Feature
Shed    90.625000
Gar2     4.166667
Othr     4.166667
TenC     1.041667
Name: count, dtype: float64

Sale Type
WD       86.689420
New       8.191126
COD       2.957907
ConLD     0.796359
CWD       0.417141
ConLI     0.265453
Oth       0.227531
ConLw     0.227531
Con       0.189609
VWD       0.037922
Name: count, dtype: float64

Sale Condition
Normal     82.138794
Partial     8.418658
Abnorml     6.598407
Family      1.668563
Alloca      0.796359
AdjLand     0.379219
Name: count, dtype: float64

In [ ]:
i_want_180=(~sale_df['Alley'].isna()).sum()  #data series (sale_df['Alley']
#.isna asksif the value is null
#.sum will add the number of null values # ~ negates it and returns sum of opposite

i_want_180

180

In [ ]:
len(sale_df['Alley'])-sale_df['Alley'].isnull().sum()

180

In [ ]:
sale_df['Alley'].value_counts().sum()

180

In [ ]:
non_null_total=len(sale_df['Alley'].dropna())
non_null_total
sale_df['Alley'].value_counts() /non_null_total*100   #180/180    #111/180, 69/180  *100

Alley
Grvl    61.666667
Pave    38.333333
Name: count, dtype: float64

In [ ]:
len(sale_df['Alley'].dropna()) #total of homes with an alley

180

In [ ]:
(sale_df['Alley'].dropna() == 'Grvl').mean()   #conditional and returning mean (within column)
#must do .dropna inside conditional

0.6166666666666667

In [ ]:
(sale_df['Alley'] == 'Pave').mean(skipna=True)

0.026166097838452786

In [ ]:
# Define the columns
B = ['Street', 'AnotherColumn']  # Example of multiple columns in B
A = ['Alley']

# Count values for A and B
counts_A = categorical_cols[A].value_counts(dropna=True).reset_index()
counts_B = categorical_cols[B].value_counts(dropna=True).reset_index()

# Merge the dataframes on multiple columns in B
merged_df = pd.merge(
    counts_A,
    counts_B,
    on=B,
    suffixes=('_A', '_B')
)

# Calculate marginal probabilities
merged_df['marg_prob'] = merged_df['count_A'] / merged_df['count_B'] * 100

# Display the resulting dataframe
merged_df

#Mel  * Add your session code in this section

In [ ]:
house_orig= sale_df

In [ ]:
#From Mel on thread

pairs = ['Street', 'Heating'] #and... how many pairs are there in a symmetrical matrix? (don't include the diagonal, itself with itself) 43x43 - 43(take out diagonals)/2 (because only need one triangle of the matrix): 43x21 = 903 possible pairs
house_orig[pairs].value_counts()/house_orig[pairs].value_counts().sum()*100

Street  Heating
Pave    GasA       98.028062
        GasW        0.872203
Grvl    GasA        0.455063
Pave    Grav        0.341297
        Wall        0.189609
        OthW        0.075844
        Floor       0.037922
Name: count, dtype: float64

In [ ]:
# Get categorical columns
categorical_cols = house_orig.select_dtypes(include=['object']).columns
# Loop through each categorical column
for col in categorical_cols:
    print(f"\nValue counts for column '{col}':")
    # Get value counts for each category within the column
    value_counts_series = house_orig[col].value_counts()
    # Print the value counts
    print(value_counts_series)
#THEN:    # Find columns with nulls
cols_with_nulls = house_orig.columns[house_orig.isnull().any()].tolist()
# Calculate and print percentage of nulls for each column
for col in cols_with_nulls:
    null_percentage = (house_orig[col].isnull().sum() / len(house_orig)) * 100
    print(f"Column '{col}': {null_percentage:.2f}% nulls")
pairs = ['Street', 'Heating'] #and... how many pairs are there in a symmetrical matrix? (don't include the diagonal, itself with itself) 43x43 - 43(take out diagonals)/2 (because only need one triangle of the matrix): 43x21 = 903 possible pairs
house_orig[pairs].value_counts()/house_orig[pairs].value_counts().sum()*100

Value counts for column 'MS Zoning':
MS Zoning
RL         2043
RM          419
FV          123
C (all)      25
RH           23
I (all)       2
A (agr)       2
Name: count, dtype: int64

Value counts for column 'Street':
Street
Pave    2625
Grvl      12
Name: count, dtype: int64

Value counts for column 'Alley':
Alley
Grvl    111
Pave     69
Name: count, dtype: int64

Value counts for column 'Lot Shape':
Lot Shape
Reg    1662
IR1     895
IR2      65
IR3      15
Name: count, dtype: int64

Value counts for column 'Land Contour':
Land Contour
Lvl    2365
HLS     111
Bnk     106
Low      55
Name: count, dtype: int64

Value counts for column 'Utilities':
Utilities
AllPub    2634
NoSewr       2
NoSeWa       1
Name: count, dtype: int64

Value counts for column 'Lot Config':
Lot Config
Inside     1924
Corner      459
CulDSac     160
FR2          81
FR3          13
Name: count, dtype: int64

Value counts for column 'Land Slope':
Land Slope
Gtl    2511
Mod     112
Sev      14
Name: count, dtype: int64

Value counts for column 'Neighborhood':
Neighborhood
NAmes      397
CollgCr    240
OldTown    218
Edwards    168
Somerst    161
NridgHt    150
Gilbert    149
Sawyer     138
NWAmes     116
SawyerW    110
Mitchel    105
BrkSide     97
Crawfor     95
IDOTRR      84
NoRidge     65
Timber      62
StoneBr     49
SWISU       44
ClearCr     39
MeadowV     34
BrDale      28
Veenker     24
Blmngtn     23
NPkVill     20
Blueste     10
Greens       8
GrnHill      2
Landmrk      1
Name: count, dtype: int64

Value counts for column 'Condition 1':
Condition 1
Norm      2273
Feedr      148
Artery      83
RRAn        42
PosN        32
RRAe        27
PosA        19
RRNn         8
RRNe         5
Name: count, dtype: int64

Value counts for column 'Condition 2':
Condition 2
Norm      2609
Feedr       11
Artery       5
PosA         4
PosN         4
RRNn         2
RRAe         1
RRAn         1
Name: count, dtype: int64

Value counts for column 'Bldg Type':
Bldg Type
1Fam      2187
TwnhsE     210
Duplex      95
Twnhs       90
2fmCon      55
Name: count, dtype: int64

Value counts for column 'House Style':
House Style
1Story    1327
2Story     800
1.5Fin     276
SLvl       113
SFoyer      76
2.5Unf      21
1.5Unf      17
2.5Fin       7
Name: count, dtype: int64

Value counts for column 'Roof Style':
Roof Style
Gable      2086
Hip         498
Gambrel      21
Flat         18
Mansard       9
Shed          5
Name: count, dtype: int64

Value counts for column 'Roof Matl':
Roof Matl
CompShg    2599
Tar&Grv      20
WdShake       8
WdShngl       6
Roll          1
Membran       1
Metal         1
ClyTile       1
Name: count, dtype: int64

Value counts for column 'Exterior 1st':
Exterior 1st
VinylSd    916
MetalSd    411
HdBoard    403
Wd Sdng    380
Plywood    195
CemntBd    114
BrkFace     77
WdShing     50
AsbShng     44
Stucco      36
BrkComm      3
CBlock       2
Stone        2
AsphShn      2
PreCast      1
ImStucc      1
Name: count, dtype: int64

Value counts for column 'Exterior 2nd':
Exterior 2nd
VinylSd    906
MetalSd    408
HdBoard    368
Wd Sdng    353
Plywood    244
CmentBd    114
Wd Shng     76
BrkFace     42
Stucco      40
AsbShng     38
Brk Cmn     19
ImStucc     15
Stone        6
AsphShn      3
CBlock       3
PreCast      1
Other        1
Name: count, dtype: int64

Value counts for column 'Mas Vnr Type':
Mas Vnr Type
BrkFace    782
Stone      224
BrkCmn      23
CBlock       1
Name: count, dtype: int64

Value counts for column 'Exter Qual':
Exter Qual
TA    1614
Gd     894
Ex      96
Fa      33
Name: count, dtype: int64

Value counts for column 'Exter Cond':
Exter Cond
TA    2290
Gd     273
Fa      62
Ex       9
Po       3
Name: count, dtype: int64

Value counts for column 'Foundation':
Foundation
PConc     1185
CBlock    1116
BrkTil     278
Slab        44
Stone       11
Wood         3
Name: count, dtype: int64

Value counts for column 'Bsmt Qual':
Bsmt Qual
TA    1161
Gd    1093
Ex     229
Fa      79
Po       2
Name: count, dtype: int64

Value counts for column 'Bsmt Cond':
Bsmt Cond
TA    2358
Gd     107
Fa      92
Po       5
Ex       2
Name: count, dtype: int64

Value counts for column 'Bsmt Exposure':
Bsmt Exposure
No    1722
Av     375
Gd     248
Mn     216
Name: count, dtype: int64

Value counts for column 'BsmtFin Type 1':
BsmtFin Type 1
Unf    768
GLQ    758
ALQ    397
Rec    262
BLQ    237
LwQ    142
Name: count, dtype: int64

Value counts for column 'BsmtFin Type 2':
BsmtFin Type 2
Unf    2245
Rec     100
LwQ      76
BLQ      60
ALQ      50
GLQ      32
Name: count, dtype: int64

Value counts for column 'Heating':
Heating
GasA     2597
GasW       23
Grav        9
Wall        5
OthW        2
Floor       1
Name: count, dtype: int64

Value counts for column 'Heating QC':
Heating QC
Ex    1355
TA     778
Gd     419
Fa      82
Po       3
Name: count, dtype: int64

Value counts for column 'Central Air':
Central Air
Y    2460
N     177
Name: count, dtype: int64

Value counts for column 'Electrical':
Electrical
SBrkr    2414
FuseA     172
FuseF      42
FuseP       8
Mix         1
Name: count, dtype: int64

Value counts for column 'Kitchen Qual':
Kitchen Qual
TA    1342
Gd    1052
Ex     184
Fa      59
Name: count, dtype: int64

Value counts for column 'Functional':
Functional
Typ     2453
Min2      63
Min1      58
Mod       32
Maj1      18
Maj2       9
Sal        2
Sev        2
Name: count, dtype: int64

Value counts for column 'Fireplace Qu':
Fireplace Qu
Gd    675
TA    538
Fa     64
Po     45
Ex     31
Name: count, dtype: int64

Value counts for column 'Garage Type':
Garage Type
Attchd     1563
Detchd      702
BuiltIn     165
Basment      28
2Types       20
CarPort      14
Name: count, dtype: int64

Value counts for column 'Garage Finish':
Garage Finish
Unf    1106
RFn     730
Fin     654
Name: count, dtype: int64

Value counts for column 'Garage Qual':
Garage Qual
TA    2356
Fa     106
Gd      20
Po       5
Ex       3
Name: count, dtype: int64

Value counts for column 'Garage Cond':
Garage Cond
TA    2400
Fa      60
Po      14
Gd      14
Ex       2
Name: count, dtype: int64

Value counts for column 'Paved Drive':
Paved Drive
Y    2395
N     187
P      55
Name: count, dtype: int64

Value counts for column 'Pool QC':
Pool QC
Gd    4
Ex    3
Fa    2
TA    2
Name: count, dtype: int64

Value counts for column 'Fence':
Fence
MnPrv    306
GdPrv    108
GdWo     103
MnWw      11
Name: count, dtype: int64

Value counts for column 'Misc Feature':
Misc Feature
Shed    87
Gar2     4
Othr     4
TenC     1
Name: count, dtype: int64

Value counts for column 'Sale Type':
Sale Type
WD       2286
New       216
COD        78
ConLD      21
CWD        11
ConLI       7
Oth         6
ConLw       6
Con         5
VWD         1
Name: count, dtype: int64

Value counts for column 'Sale Condition':
Sale Condition
Normal     2166
Partial     222
Abnorml     174
Family       44
Alloca       21
AdjLand      10
Name: count, dtype: int64
Column 'Lot Frontage': 17.03% nulls
Column 'Alley': 93.17% nulls
Column 'Mas Vnr Type': 60.94% nulls
Column 'Mas Vnr Area': 0.87% nulls
Column 'Bsmt Qual': 2.77% nulls
Column 'Bsmt Cond': 2.77% nulls
Column 'Bsmt Exposure': 2.88% nulls
Column 'BsmtFin Type 1': 2.77% nulls
Column 'BsmtFin SF 1': 0.04% nulls
Column 'BsmtFin Type 2': 2.81% nulls
Column 'BsmtFin SF 2': 0.04% nulls
Column 'Bsmt Unf SF': 0.04% nulls
Column 'Total Bsmt SF': 0.04% nulls
Column 'Bsmt Full Bath': 0.08% nulls
Column 'Bsmt Half Bath': 0.08% nulls
Column 'Fireplace Qu': 48.69% nulls
Column 'Garage Type': 5.50% nulls
Column 'Garage Yr Blt': 5.57% nulls
Column 'Garage Finish': 5.57% nulls
Column 'Garage Cars': 0.04% nulls
Column 'Garage Area': 0.04% nulls
Column 'Garage Qual': 5.57% nulls
Column 'Garage Cond': 5.57% nulls
Column 'Pool QC': 99.58% nulls
Column 'Fence': 79.98% nulls
Column 'Misc Feature': 96.36% nulls

Street  Heating
Pave    GasA       98.028062
        GasW        0.872203
Grvl    GasA        0.455063
Pave    Grav        0.341297
        Wall        0.189609
        OthW        0.075844
        Floor       0.037922
Name: count, dtype: float64

In [ ]:
#Mel add the session code below

# Zack  * Add your session coded in this section